body {
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

body{
	font-family: cursive;
}

select{
	font-family: fantasy;
}
input[type="text"] {
	font-family: cursive;

}

input[type="text"], select, label {
	font-size: 16px;
}

input[readonly] {
	background-color: #E9BDFF;
	font-style: italic;
}

input[type="text"] {
	text-align: right;
}
