body, select, input[type="text"] {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}

input[type="text"], select, label {
	font-size: 16px;
}

input[readonly] {
	background-color: rgba(0, 0, 0, 0.2);
	font-style: italic;
}
